$backgroundColor1: pink;
$backgroundColor2: purple;
$calcColor: rgb(229, 188, 188);
$calcDisplayColor: rgb(134, 150, 134);
$calcButtonColor: rgb(189, 159, 159);
$buttonFontColour: whitesmoke;
$buttonBorderColor: rgba(92, 92, 92, 0.137);
